.container {
    font-size:20px;
    float:left;
    padding: 10px;
  }

.container2{
  font-size:20px;
  float:left;
  padding: 40px;
  }
  
  .image {
    display: block;
    height: auto;
    width:270px;
    height:190px;

  }
  
  
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  @media screen and (max-width: 991px){
    .image{
      margin-left: auto;
      margin-right: auto;
      width:50%;
      height:50%;
    }

    .container {
      float:none;
    }

    .container2 {
      float:none;
    }

    
  }